*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url("../img/back.jpg");
    background-size: 100%;
}
#maxbox{
    width: 1400px;
    margin: 0px auto;
    background-color: rgba(255,255,255,0.3);
}
header{
    text-align: center;
    height:100px;
    border-bottom: 3px black solid;
    line-height: 100px;
}
nav{
    height: 83px;
    border-bottom: 3px rgb(190, 185, 185) solid;
    line-height:83px;
    overflow: visible;
    position: sticky;
    top: 0;
}
#navimg{
    width: 60px;
    height:60px;
    margin: 10px 10px;
    float: left;
}
#navimg img{
    width: 60px;
    border-radius:60px;
}
nav .hmenu .hmenu-li{
    float: right;
    position: relative;
    margin-right: 120px;
}
nav .hmenu .hmenu-li>a{
    display: block;
    width: 100px;
    text-decoration: none;
    text-align: center;
}
nav .hmenu .hmenu-li .hmenu2{
    width: 100px;
    padding: 0;
    opacity: 0.3;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    position: absolute;
    top:60px;
}
nav .hmenu .hmenu-li .hmenu2 a{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: aquamarine;
    color: white;
}
nav .hmenu .hmenu-li:hover .hmenu2{
    /* display: block; */
    height: 180px;
    opacity: 1;
}
