.img1 {
    float: left;
    margin-right: 10px;
}

aside {
    width: 680px;
    float: left;
    line-height: 3em;
    text-indent: 1em;
}

article {
    width: 680px;
    float: left;
    border-left: 2px white solid;
}

#box3 h3 {
    text-align: center;
}

#box3 {
    clear: both;
    border-top: 3px #98de98 solid;
    line-height: 2em;
    border-bottom: 3px #98de98 solid;
    padding-bottom: 30px;
}

#img2 {
    width: 300px;
    float: right;
}

